<%- include('partial/header'); -%>
<form>
<h1>login</h1>
<label for="email">email</label>
<input type="email" name="email" required>
<div class="emailError"></div>
<label for="password">password</label>
<input type="password" name="password" required>
<div class="passwordError"></div>
<button type="submit">login</button>
</form>
<script>
    const form = document.querySelector('form');
    const emailError=document.querySelector('.emailError');
    const passwordError = document.querySelector('.passwordError');

    
    form.addEventListener('submit', async(e)=>{
         e.preventDefault();

            //reseting errors
   emailError.textContent = '';
   passwordError.textContent = '';

   
    const email = form.email.value;
    const password = form.password.value;
    })
    
    try {
        const user = await fetch('/api/v1/login',{
            method:'POST',
            body:JSON.stringify({email,password}),
            headers:{'content-type':'application/json'}
        })
        const data = await user.JSON();
        console.log(data);
        //handling frontend errors
        if(data.errors){
          emailError.textContent=data.errors.email;
          passwordError.textContent = data.errors.password;  
        }
        else if(data.user){3
            location.assign('/')
           }

    } catch (error) {
        emailError.textContent = 'Error occurred while logging in';
        console.log(error)   
    }


</script>
<%- include('partial/footer'); -%>