<%- include(partial/header); -%>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dolor sint! Repellendus voluptatibus quae quisquam dolores maxime sit dignissimos. Nobis veniam hic odio ratione voluptatem facere doloremque id quidem quos.</p>
<p>Earum iste quas modi, doloremque atque fuga vel quaerat. Deserunt eveniet quisquam praesentium facilis, fugit harum expedita. Dolorum ipsam, totam qui doloribus, repellendus doloremque eaque distinctio ratione praesentium iste incidunt.</p>
<p>Quas consequuntur fugiat, nam, doloribus vitae, sapiente quod repudiandae consectetur quos aperiam quibusdam necessitatibus culpa optio quisquam aliquid! Aspernatur eveniet voluptatum suscipit dolorem. Consequuntur explicabo minus excepturi architecto impedit quae.</p>
<p>Aliquam consequuntur quod iste repellat assumenda veniam deleniti et praesentium iure. Nulla, dolorum dolore veritatis doloribus optio labore placeat quisquam error libero? Sapiente consectetur molestias doloremque officiis odio, provident aspernatur!</p>


<%- include(partial/footer); -%>